<!DOCTYPE html>
<html>
	<head>

		<!-- This sets the language that your characters are in -->
		<meta charset="utf-8">
		<!-- This ensures that your media queries work -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- This is what appears in the tab of your browser page -->
		<title>Fuck Off</title>

		<!-- This makes the bootstrap css work -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

		<!-- This connects my CSS external stylesheet to the index.html -->
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div id="todo">
			<section>
				<h1>TO DO LIST</h1>
				<input type="text" 
						placeholder="What do you need to do?"
						v-model='newTask'
						v-on:keyup.enter='addTask'>
			</section>

			<ul>
				<li v-for="task in todoList">
					<label>{{ task }}</label>
					<button v-on:click="removeTask(task)">X</button>
				</li>
			</ul>




		</div>

























		
		<!-- This gives access to the jquery library -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<!-- Popper is required for bootstrap 4 JS functionality -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

		<!-- This makes bootstrap 4 JS work -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<!-- This connects the VueJS framework-->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>

		<!-- This connects my JS external file to the index.html -->
		<script src="js/main.js" type="text/javascript"></script>

	</body>
</html>